.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 10dvh;
    background: rgb(30 27 75 / var(--tw-bg-opacity, 1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    padding: 0 20px;
}
.navBar{
    width: 30%;
    height: 100%;
    background: rgb(30 27 75 / var(--tw-bg-opacity, 1));
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.navbar .logo{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* background: url('images/mace_white.png'); */
    /* background: url('images/IEEE_MACE_SB_clr.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar{
    display: flex;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.nav-bar li{
    color:rgb(6, 212, 71);    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.nav-bar li:hover{
    color: #FFA800;
    text-shadow: 0px 0px 10px #FFA800;
    -webkit-text-stroke-width: 0.20000000298023224;
    -webkit-text-stroke-color: #FFA800;
}
/* mobile view */
.bars{
    display: none;
    color: white;
    border: 2px #FFA800 solid;
    border-radius: 5px;
    padding: 4px;
    width: 36px;
    height: 36px;
}
.bars:hover{
    box-shadow: 0px 0px 10px #FFA800;
}

@media screen and (max-width: 991px) {
    .navbar{
        padding: 0 5px;
    }
    .navBar{
        width: 100%;
        /* padding: 0; */
    }
    .nav-bar{
        position: absolute;
        top: -25dvh;
        left: 0;
        height: 35dvh;
        width: 100%;
        flex-direction: column;
        background: #001D3E;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s linear;
    }
    .nav-bar-active{
        top: 10dvh;
        opacity: 1;
    }
    .nav-bar li{
        width: 100%;
        height: 100%;
        border-top: 0.5px #FFA800 solid;
        border-bottom: 0.5px #FFA800 solid;
        font-size: 14px;
        font-weight: 800;
    }
    .bars{
        display: block;
    }
}